#grid{
    -fx-background-color:white;    
}

.button{
    -fx-font: 10px "Serif"; 
    -fx-background-color: 
        #060606,
        linear-gradient(#ffffff, #f0f0f0);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-wrap-text:false;
    -fx-padding: 6 9 6 9;
    -fx-text-fill:black;
}
   
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.2) , 0, 0.0 , 0 , 1);
}

.label{
    -fx-font: 12px "Courier New";
    -fx-padding: 9; 
    -fx-alignment: CENTER;
}

.text-area{
    -fx-padding: 1;
    -fx-border: 1;  
}

.text-field{
    -fx-padding: 1;
    -fx-border: 1; 
}
.radio-button{
    -fx-padding: 9;
}

#grid {
    -fx-padding: 1;
    -fx-vgap: 10;
}
#tabpane {
    -fx-padding: 1;
}

.separator{
    -fx-background-radius: 2;
    -fx-padding: 10;
}

#ConverterPane {
    -fx-padding:9;
    -fx-alignment:center;
    -fx-background-color: white;
}

#vbox{    
    -fx-padding: 25;
}

#hbox{    
    -fx-padding: 5;
}

#buttonbar{
    -fx-padding:35 70 35 70;
}
.text-field{
    -fx-padding: 9;
    -fx-alignment: CENTER;
}
