#ConverterPane {
    -fx-padding:9;
    -fx-fill-width:true;
    -fx-alignment:center;
}
.button{
    -fx-font: 10px "Serif"; 
    -fx-background-color: 
        #060606,
        linear-gradient(#ffffff, #f0f0f0);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 6 9 6 9;
    -fx-text-fill:black;
}
#vbox{
    -fx-fill-width:true;
    -fx-padding: 10;
}

.HBox{
    -fx-fill-width:true;
    -fx-padding: 15;
}
.VBox{
    -fx-fill-width:true;
    -fx-padding: 15;
}

#buttonbar{
    -fx-padding:20;
}
.text-field{
    -fx-padding: 9;
    -fx-alignment: CENTER;
}

.label {
    -fx-padding: 9;
    -fx-alignment: CENTER;
}